body {
	background-color: #FFFFFF;
	color: #111111;
	font-family: Tahoma, Geneva, sans-serif;
}

.header {
	display: block;
	margin-left: 5%;
}

.bio-container {
	float: left;
}

.bio {
	line-height: 0px;
	color: #AAAAAA;
}

.name {
	font-family: 'Ubuntu', sans-serif;
}

.links-container {
	padding-top: 2%;
	margin-left: 25%; 
}

.tab-button {
	display: inline;
	padding-left: 32px;
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #111111; 
}

.selected-tab {
	font-weight: bold;
}

.not-selected-tab {
	color: #AAAAAA; 
}

.not-selected-tab:hover {
	color: #111111;
}

.project-container {
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

.contact-container {
	margin-top: 5%;
	margin-left: 5%;	
}

.project-box {
	display: inline-block;
	height: 256px;
	width: 256px;
	border: 1px solid #111111;
}

.project-link {
	text-decoration: none;
}

.cover-image {
	display: block;
	width: 256px;
	height: 256px;
}

.cover-image:hover {
	background-color: #111111;
	opacity: 0.5;
}

.blue-bar {
	display: block;
	background-color: #0074D9;
	height: 2px;
	left: 5%;
	width: 320px;
}