.container {
    background-color: white;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

.project-link-container {
    padding-left: 25%;
}

.circular-image {
    background: url(/assets/images/profile.png) no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.header {
    padding-top: 32px;
}

.about {
    padding-top: 32px;
    padding-left: 20%;
    padding-right: 20%;
}

.section-break {
    width: 50%;
    align: center;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.small-text {
    font-size: x-small;
}

.name {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

.project-link:hover {
    color: #0088B2;
}

.project-link a:hover {
    color: #0088B2;
}

.scrolling-bar-side {
    position: absolute;
    top: 0;
    left: 10%;
    width: 16px;
    height: 100%;
    background-color: black;
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.scrolling-bar-top {
    position: absolute;
    top: 4%;
    width: 75%;
    height: 16px;
    left: 0;
    background-color: black;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.showcase-image {
    width: 256px;
    height: 256px;
    margin-left: 25%;
}

a {
    color: black;
}
