<html>
<head>
    <title>happy birthday dad!</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/card.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>

<body>

    <div class="section">
      <p class="text">Hi Dad</p>
      <p class="text">How are you?</p>
    </div>
    <div class="section navy-bg">
      <p class="text white-f">I don't care.</p>
    </div>
    <div class="section">
      <p class="text">Why don't I care?</p>
      <p class="text">I already know what mood your in after reading that.</p>
    </div>
    <div class="section blue-bg">
      <p class="text white-f">But don't worry!</p>
    </div>
    <div class="section">
        <p class="text">Today is that one time of the year where you get to eat cake or something.</p>
        <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="center-image"/></a>
        <p class="text">Well you would probably eat 10 cakes, but that's a different story.</p>
        <div>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
          <a href="http://imgur.com/d0ZdHVV"><img src="http://i.imgur.com/d0ZdHVV.jpg" title="Hosted by imgur.com" class="small-image"/></a>
      </div>
    </div>
    <div class="section blue-bg">
      <p class="text white-f">Oh I almost forgot</p>
    </div>
    <div class="section">
      <p class="text">It appears I'm supposed to tell you something, hold on, I have to Google it.</p>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <div class="section">
      <p class="text">This may be the spanish version but I'm pretty sure its right,</p>
    </div>
    <br><br>
    <div class="section navy-bg">
      <p class="text center-text white-f">HAPPY BIRTHDAY!!!!</p>
    </div>

</body>

</html>
