@main("Computer Maintenance, Repair and everything related"){

    <div class="scrolling-bar-side animatedOther fadeInDown"></div>
    <div class="scrolling-bar-top animatedOther fadeInLeft"></div>
    <div class="container">
        <div class="header">
            <h1 class="center-text name">Computer Maintenance, Repair and everything related</h1>
            <p class="center-text project-link"><a href="/">Return home</a></p>
            <br>
        </div>
        <hr class="section-break">
        <div class="about">
            <p>I'm currently enrolled in a High School Computer Repair / Cisco Networking course. In the upcoming months & years I will be taking exams such as the A+, CCENT and CCNA.</p>
            <p>In my shop class we have gone over technologies such as virtual machines, networking, various operating systems (including MSDOS...) and more. All of this plus a full understanding of
               how different parts inside the computer function and what there purpose is.</p>
            <br>
            <h2>Computers I have built</h2>
            <p>Personal machine, Intel i5 3rd generation processor, GeForce 660ti, 16gb of ram, 120gb ssd & 1tb hdd</p>
            <img class="showcase-image" src="/assets/images/computer1.jpg">
            <br>
            <p>Parents computer (Learned my lesson about cable management this time)</p>
            <img class="showcase-image" src="/assets/images/computer2.jpg">
            <p>School computer (Built in my cisco shop class), first one I ever fully built...!</p>
            <img class="showcase-image" src="/assets/images/computer3.jpg">
        </div>
    </div>

}