@main("Contact me!") {

	<div class="header">
	    <div class="bio-container">
	        <h1 class="name">JOE KENT</h1>
	        <h3 class="bio">Freelance web developer and game modder</h3>
	    </div>
	    <div class="links-container ">
	        <a href="/" class="tab-button not-selected-tab">Projects</a>
	        <a href="/contact" class="tab-button selected-tab">Contact</a>
	    </div>
	    <div class="contact-container">
	    	<h4>Looking for a website, Minecraft Mod? You're at the right place, let's talk.</h4>
	    	<a class="tab-button not-selected-tab" href="mailto:joe@@joe-kent.com?subject=Hello!">Email</a>
	    	<a class="tab-button not-selected-tab" href="https://twitter.com/Thedeadlybutter">Twitter</a>
	    </div>
	</div>	

}
