@main("Embedded programming & Electronics"){

    <div class="scrolling-bar-side animatedOther fadeInDown"></div>
    <div class="scrolling-bar-top animatedOther fadeInLeft"></div>
    <div class="container">
        <div class="header">
            <h1 class="center-text name">Embedded programming & Electronics</h1>
            <p class="center-text project-link"><a href="/">Return home</a></p>
            <br>
        </div>
        <hr class="section-break">
        <div class="about">
            <p>I've always had an interest in electronics, taking things apart to see how they work. Naturally this led to my picking up Arduino's
            to mess around with. Currently I have 3 Arduino's, 2 Uno's and 1 Leonardo. I've used the Leonardo to make random input devices (such as
            `macro` buttons), one Uno for random circuits & another for controlling my Lego Holiday village. I've looked into purchasing other boards
            such as the Beaglebone & the new Intel Galileo board but I don't have the funds to do so, but I still keep up with there developments.</p>

            <p>I've always had a passion for programming in the physical world which is why I find it fundamental to understand how things function.
            I'm currently learning more & teaching myself about these topics, so I don't have much to show yet but check back soon!</p>

            <br>
            <img class="showcase-image" src="/assets/images/holiday-village.jpg">
            <p class="center-text small-text">Last years lego village. Lighting (LED's) controlled by an Arduino Uno. (Sorry for bad quality photo!)</p>
            <br>
            <img class="showcase-image" src="/assets/images/firstarduino.jpg">
            <p class="center-text small-text">First Arduino circuit!.</p>
        </div>
    </div>

}