@main("Games programming & Modding"){

    <div class="scrolling-bar-side animatedOther fadeInDown"></div>
    <div class="scrolling-bar-top animatedOther fadeInLeft"></div>
    <div class="container">
        <div class="header">
            <h1 class="center-text name">Games programming & Modding</h1>
            <p class="center-text project-link"><a href="/">Return home</a></p>
            <br>
        </div>
        <hr class="section-break">
        <div class="about">
            <p>I began modding video games such as Minecraft a few years ago. I ended up joining a team of other modders in my gaming community called
            The Voxel Box Plugineering Team(TVPT). We developed many server modifications or tools for the game Minecraft so our creative server could
            release its full potential. I've also done independant freelance work for Minecraft (Bukkit) plugins but I cannot discuss and/or share the code at this time.</p>
            <p>You can find the teams Github page <a href="https://github.com/TVPT">here</a>.</p>
            <br>
            <p>Modding games also intrigued me to make my own. While I have never made a full complete indie title I've participated multiple times in
            game jams such as <a href="http://www.ludumdare.com/compo/">Ludum Dare</a>. For my entries I've worked with a custom Java engine I quickly
            created and the Unity3D engine which I mess around with frequently.</p>
            <p>You can see some of my Ludum Dare entries <a href="https://github.com/deadlybutter/LudumDare27">here</a> and <a href="https://github.com/deadlybutter/B.I.O.S">here</a>. </p>
        </div>
    </div>

}