@main("Joe Kent's personal website") {

        <!-- Cool kids put easter eggs here, but I'm hipster so I'm putting a Christmas egg here. I'm so hipster, that this line IS the Christmas egg. Yeah, thats right. -->

        <div class="header">
            <div class="bio-container">
                <h1 class="name">JOE KENT</h1>
                <h3 class="bio">Freelance web developer and game modder</h3>
            </div>
            <div class="links-container ">
                <a href="/" class="tab-button selected-tab">Projects</a>
                <a href="/contact" class="tab-button not-selected-tab">Contact</a>
            </div>
        </div>
        <div class="project-container">
            <a href="">
                <div class="project-box"><img class="cover-image" src="/assets/images/zombie_cover.png"></div>
            </a>
            <a href="http://www.ludumdare.com/compo/ludum-dare-27/?action=preview&uid=17944">
                <div class="project-box"><img class="cover-image" src="/assets/images/ld27_cover.png"></div>
            </a>
            <a href="http://www.ludumdare.com/compo/ludum-dare-25/?action=preview&uid=17944">
                <div class="project-box"><img class="cover-image" src="/assets/images/LD25_cover.png"></div>
            </a> 
            <a href="http://www.joe-kent.com/projects/web/watlang">
                <div class="project-box"><img class="cover-image" src="/assets/images/watlang_cover.jpg"></div>
            </a>
            <a href="https://github.com/deadlybutter/VoxelCommander">
                <div class="project-box"><img class="cover-image" src="/assets/images/VoxelCommander_cover.png"></div>
            </a>
            <a href="/ld28">
                <div class="project-box"><img class="cover-image" src="/assets/images/LD28_cover.png"></div>
            </a>         
        </div>

}
