<!DOCTYPE html>
<html>
<head>
    <title>LD28 Entry - You only have 1 vote</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/ld28.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
              <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-44041969-1', 'joe-kent.com');
                ga('send', 'pageview');
            </script>  
</head>
<body>

<script src="@routes.Assets.at("javascripts/ld28.js")"></script>
<script type="text/javascript">
    init();
</script>

<h1 class="REMOVE-AFTER-LOAD">If you see this something broke... Try refreshing?</h1>
<h1 class="center-text">You only have one vote</h1>
<div class="help-container">
    <p class="instruction-text">
        You only have one vote is a LD28 Compo entry, with the theme being "You only have one". In You only have one vote, you are given a list of candidates to be the next world leader. Each candidate has a set of policies they want to implement when they are elected. Under each policy is a graph showing how this will affect society (Gray=Neutral, Red=Negative effect, Green=Positive effect). Using this supplied data you must pick the candidate most likely  to succeed. You can only vote once, so make a good decision.
    </p>
    <p class="instruction-text">
        Once you vote, a simulation will pop up showing how each policy affects hundreds of virtual citizens. This is shown by the "Society bar", if the marker is in the red zone, your leader isn't doing too well. If your leader is in the green his policies are doing well. Once the game ends you can refresh and hundreds of citizens will be regenerated + new candidates will be generated. Have fun! (And don't forget to vote for my entry on LudumDare!)
    </p>
</div>
<div class="container">

</div>

</body>
</html>