@main("Robotics programming"){

<div class="scrolling-bar-side animatedOther fadeInDown"></div>
<div class="scrolling-bar-top animatedOther fadeInLeft"></div>
<div class="container">
    <div class="header">
        <h1 class="center-text name">Robotics programming</h1>
        <p class="center-text project-link"><a href="/">Return home</a></p>
        <br>
    </div>
    <hr class="section-break">
    <div class="about">
        <p>The reason I even started programming, starts here. It was the end of the 5th grade and I planned on joining my middle school robotics team (FLL). So, not knowing what to do we bought
        a C++ for dummies book. I remember my first real program was a 400 line slot machine game (It was 400 lines because I made an IF statement for literally every case). While my C knowledge
        was not needed for years to come, I still learned a lot. In FLL I ended up mastering the programming interfaces for the Lego NXT & RCX & becoming the lead programmer. *Reminder to self to
        upload lego competition pictures*</p>
        <br>
        <p>Following FLL in middle school I joined my high schools robotics FRC team. Year one we used C++ and year two when I took over as lead programmer I switched us to Java. In year 2 I also
            moved us onto a version control system (git), issue tracker (Github issues) and cleaned up our workflow. I also incorporated new technologies such as SmartDashboard our team
            never used before which greatly help in debugging. You can find the year 2 (2013) code on github <a href="https://github.com/RoboWizards/2013_Java">here</a>.</p>
        <br>
        <img class="showcase-image" src="/assets/images/frcrobot1.jpg">
        <p class="center-text small-text">2012 Robot named "Lucy" - NY Regional Champion</p>
        <br>
        <img class="showcase-image" src="/assets/images/frcrobot2.jpg">
        <p class="center-text small-text">2013 Robot - Excellence in Engineering Award sponsored by Delphi</p>
    </div>
</div>

}