@main("Web programming"){

    <div class="scrolling-bar-side animatedOther fadeInDown"></div>
    <div class="scrolling-bar-top animatedOther fadeInLeft"></div>
    <div class="container">
        <div class="header">
            <h1 class="center-text name">Web Development</h1>
            <p class="center-text project-link"><a href="/">Return home</a></p>
            <br>
        </div>
        <hr class="section-break">
        <div class="about">
            <p>Web programming is not my primary focus but I have learned enough to get stuff done. Most of my web projects are incomplete and/or small
            that were started for the purpose of learning web development. Through this process I've learned about REST, configuring DNS, many frameworks both front-end
            back-end and the cloud application platform Heroku, AWS and various VPS hosts. Full website source code available on my github <a href="https://github.com/deadlybutter/PersonalSite">here</a>.</p>
            <br>
            <p>This website is my first public web project. It is running on Heroku and the Play! framework with Java code & Scala templates. For front end it is using Jquery & a modified version of
                <a href="https://daneden.me/animate/">Animate.css</a>.</p>
            <br>
            <p>One of my favorite personal web projects I have created but never released is WatLang. Wat Lang is a esoteric programming language that focuses on manipulating a
                array of bits that correlate to pixels in a graphics canvas. Full documentation, examples and the application itself can be found on it's page <a href="/projects/web/watlang">here</a>.</p>
        </div>
    </div>

}